body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to left, rgb(9, 14, 54), rgb(18, 4, 44));
    
}
.game-header-text{
    position: absolute;
    margin-top: 400px;
}

#question-display-div{
    position: absolute;
    display: none;
    width: 800px;
    height: 400px;
    background-color: whitesmoke;
    resize: none;
    margin-top: 600px;
    color: rgb(0, 0, 0);
    border-radius: 10px;
    border-color: whitesmoke;
}


#phishing-choice-button{
    display: flex;
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 250px;
    height: 60px;
    background-color: rgb(10, 117, 0);
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 8px;
    color: white;
    margin-top: 880px;
    margin-right: 320px;
    font-size: 23px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
    cursor: pointer;
}
#phishing-choice-button:hover{
    transition: 0.7s ease;
    background-color: rgb(9, 109, 0);
}

#not-phishing-choice-button{
    display: flex;
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 250px;
    height: 60px;
    background-color: rgb(199, 0, 0);
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 8px;
    color: white;
    margin-top: 880px;
    margin-left: 320px;
    font-size: 23px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
    cursor: pointer;
}
#not-phishing-choice-button:hover{
    transition: 0.7s ease;
    background-color: rgb(167, 0, 0);
}
#start-game-button{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 250px;
    height: 60px;
    background-color: black;
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 8px;
    color: white;
    margin-top: 700px;
    font-size: 23px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
    cursor: pointer;
}
#start-game-button:hover{
    transition: 0.7s ease;
    background-color: rgb(255, 255, 255);
    color: black;
}
#question-siaplay-paragraph{
    width: 600px;
    height: 200px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
    font-weight: 500;
    margin-top: 50px;
    margin-left: 110px;
    color: black;
    font-weight: 600;
}
.score-div{
    position: absolute;
    display: none;
    width: 160px;
    height: 35px;
    margin-top: 250px;
    margin-left: 900px;
}
.score-label{
    position: absolute;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    font-weight: 600;
}
#score-number{
    position: absolute;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    font-weight: 600;
    margin-top: 3px;
    margin-left: 105px;
}
#time-span-text{
    position: absolute;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    font-weight: 600;
    margin-top: 3px;
    margin-left: 105px;
}
.time-label{
    position: absolute;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    font-weight: 600;
}
.time-div{
    display: none;
    position: absolute;
    width: 200px;
    height: 35px;
    margin-top: 350px;
    margin-left: 1050px;
}




@media (max-width: 750px) and (min-width: 480px) {

.game-header-text{
    width: 450px;
    height: 50px;
    margin-top: 420px;
    margin-left: 20px;
}

#question-display-div{
    width: 500px;
    height: 450px;
    margin-top: 600px;
}

#question-siaplay-paragraph{
    width: 470px;
    height: 430px;
    margin-top: 50px;
    margin-left: 20px;
}
#phishing-choice-button{
    width: 200px;
    height: 55px;
    font-size: 23px;
    margin-top: 880px;
    margin-right: 240px;
}
#not-phishing-choice-button{
    width: 200px;
    height: 55px;
    font-size: 23px;
    margin-top: 880px;
    margin-left: 240px;
}
.score-div{
    width: 160px;
    height: 35px;
    margin-top: 60px;
    margin-left: -220px;
}
.score-label{
    font-size: 25px;
}
#score-number{
    font-size: 25px;
}
#time-span-text{
    font-size: 25px;
}
.time-label{
    font-size: 25px;
}
.time-div{
    margin-top: 60px;
    margin-left: 220px;
}
}