*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: black;
}
.header-name{
    position: absolute;
    margin-top: 60px;
    margin-left: 405px;
}
#information-box1{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 200px;
    height: 200px;
    background-color: rgb(22, 22, 22);
    border-radius: 10px;
    cursor: pointer;
    border: 2px solid transparent;
    margin-top: 180px;
    margin-left: 290px;
}
#information-box1:hover{
    transition: 0.7s ease;
    box-shadow: 0px 0px 3px 2px rgb(0, 195, 255);
}

#information-box2{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 200px;
    height: 200px;
    background-color: rgb(22, 22, 22);
    border-radius: 10px;
    cursor: pointer;
    border: 2px solid transparent;
    margin-top: 180px;
    margin-left: 570px;
}
#information-box2:hover{
    transition: 0.7s ease;
    box-shadow: 0px 0px 3px 2px rgb(0, 195, 255);
}

#information-box3{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 200px;
    height: 200px;
    background-color: rgb(22, 22, 22);
    border-radius: 10px;
    cursor: pointer;
    border: 2px solid transparent;
    margin-top: 180px;
    margin-left: 850px;
}
#information-box3:hover{
    transition: 0.7s ease;
    box-shadow: 0px 0px 3px 2px rgb(0, 195, 255);
}

#content-div{
    display: none;
    position: absolute;
    width: 800px;
    height: 500px;
    background-color: rgb(15, 15, 15);
    border-radius: 6px;
    border-top: 4px solid rgb(0, 195, 255);
    margin-top: 50px;
    margin-left: 280px;
    z-index: 1000;
}
#content-blur-section{
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(3px);
}
#icon-x1{
    position: absolute;
    font-size: 35px;
    color: white;
    margin-left: 720px;
    margin-top: 35px;
    cursor: pointer;
}
#check-icon1{
    display: none;
    position: absolute;
    color: green;
    font-size: 35px;
    margin-bottom: 50px;
}
#check-icon2{
    display: none;
    position: absolute;
    color: green;
    font-size: 35px;
    margin-bottom: 50px;
}
#check-icon3{
    display: none;
    position: absolute;
    color: green;
    font-size: 35px;
    margin-bottom: 50px;
}
.content-paragraph1{
    position: absolute;
    display: none;
    width: 60%;
    height: 400px;
    overflow: auto;
    color: white;
    font-size: 20px;
    margin-top: 65px;
    margin-left: 160px;
}
.content-paragraph2{
    position: absolute;
    display: none;
    width: 60%;
    height: 400px;
    overflow: auto;
    color: white;
    font-size: 20px;
    margin-top: 65px;
    margin-left: 160px;
}
.content-paragraph3{
    position: absolute;
    display: none;
    width: 60%;
    height: 400px;
    overflow: auto;
    color: white;
    font-size: 20px;
    margin-top: 65px;
    margin-left: 160px;
}
::-webkit-scrollbar {
    width: 12px;
  }
  
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
    border: 2px solid transparent;
    border-radius: 6px;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #00ccff;
    border: 2px solid transparent;
    border-radius: 6px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #00aeff;
  }
  
  .result-task-text{
    position: absolute;
    margin-top: 0px;
    font-family: 'Courier New', Courier, monospace;
    color: white;
  }
  .result-task-text2{
    position: absolute;
    margin-top: 0px;
    font-family: 'Courier New', Courier, monospace;
    color: white;
  }
  .result-task-text3{
    position: absolute;
    margin-top: 0px;
    font-family: 'Courier New', Courier, monospace;
    color: white;
  }
  #next-section-button{
    position: absolute;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: 190px;
    height: 50px;
    font-size: 17px;
    color: white;
    margin-top: 480px;
    margin-left: 580px;
    background-color:rgb(19, 94, 0);
    border-radius: 7px;
    transition: 0.7s ease;
    border: 5px solid transparent;
    border-bottom-color: rgb(14, 71, 0);
    cursor: pointer;
}
#next-section-button:hover{
    background-color:rgb(21, 105, 0);
}
.box1-info{
    position: absolute;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 500;
    margin-top: 400px;
    margin-left: 300px;
}
.box2-info{
    position: absolute;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 500;
    margin-top: 400px;
    margin-left: 585px;
}
.box3-info{
    position: absolute;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 500;
    margin-top: 400px;
    margin-left: 860px;
}
#achievement-div{
    display: none;
    position: absolute;
    align-items: center;
    justify-content: center;
    width: 350px;
    height: 350px;
    background-color: rgb(29, 27, 27);
    border-radius: 10px;
    margin-top: 120px;
    margin-left: 500px;
    z-index: 1000;
}
.achievement-box{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 220px;
    height: 220px;
    margin-bottom: 100px;
}
.achievement-image{
    position: absolute;
    width: 210px;
    height: 210px;
    margin-top: 50px;
    margin-left: 120px;
}
.achievement-name{
    position: absolute;
    width: 350px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
    margin-top: 240px;
    font-size: 23px;
    margin-left: 35px;
    color: white;
}
.achievement-span-name{
   color: rgb(0, 131, 131);
}
#achievement-blur-box{
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(3px);
}
#achievement-box-xicon{
    position: absolute;
    font-size: 35px;
    color: white;
    margin-left: 300px;
    margin-top: 20px;
    cursor: pointer;
}

@media (max-width: 750px) and (min-width: 480px) {
    .header-name{
        width: 360px;
        height: 40px;
        margin-left: 70px;
    }
    #information-box1{
        width: 200px;
        height: 200px;
        margin-top: 180px;
        margin-left: 150px;
    }
    #information-box2{
        margin-top: 450px;
        margin-left: 150px;
    }
    #information-box3{
        margin-top: 720px;
        margin-left: 150px;
    }

    .box1-info{
        margin-top: 400px;
        margin-left: 160px;
    }
    .box2-info{
        margin-top: 670px;
        margin-left: 165px;
    }
    .box3-info{
        margin-top: 940px;
        margin-left: 160px;
    }

    #content-div{
        position: absolute;
        width: 100%;
        height: 100%;
        margin-top: 0px;
        margin-left: 0px;
    }
    #icon-x1{
        margin-left: 420px;
        margin-top: 35px;
    }

    .content-paragraph1{
        margin-top: 65px;
        margin-left: 160px;
    }
    .content-paragraph2{
        margin-top: 65px;
        margin-left: 160px;
    }
    .content-paragraph3{
        margin-top: 65px;
        margin-left: 160px;
    }

      #next-section-button{
        margin-top: 1020px;
        margin-left: 155px;
    }

    #achievement-div{
        margin-left: 80px;
    }
}